.main_container {
  height: 95vh;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
}
.sidebar_container {
  width: 20%;
  padding: 10px;
  border: 1px dotted red;
  height: 95vh;
}
.content_container {
  width: 80%;
  padding: 10px;
  height: 95vh;
  border: 1px dotted rgb(119, 255, 0);
}
